// Importing bits and pieces of MDS
@import "shared"; // needed to percent-encode --mds-icon-error and --mds-icon-search-black; https://stackoverflow.com/questions/55213591/sass-invalid-css-after-expected-was-url
@import "typography";
@import "forms";
@import "tables";
@import "images";

@import "reveal";

///////////////
// overrides //
///////////////

body {
  font-family: var(--mds-font-sans)
}

a:not([class]) {
  text-decoration-color: black;
  text-underline-offset: auto
}

.main-content ul {
  list-style: disc inside;
  padding: revert;
  margin-top: revert
}



.reveal .footer {
  position: absolute;
  bottom: 1em;
  left: 1em;
  font-size: 0.9em;
  z-index: 100
}

.reveal .footer > a {
  text-decoration: none
}

.terminal {
  background-color: #151515;
  box-sizing: border-box;
  width: 500px;
  height: 300px;
  margin: 0 auto;
  padding: 20px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.terminal > p {
  text-align: left;
  font-size: 1.25em;
  font-family: monospace;
  white-space: normal;
}

.terminal > p:nth-child(odd) {
  color: #CDEE69
}

.terminal > p:nth-child(even) {
  color: #9CD9F0
}
